:root {
  --primary: #2c2c2c;
  --secondary: #ffa500;
  --accent1: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--accent1);
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  gap: 100px;
  align-items: center;
  background-color: var(--primary);
  padding: 0 10px;
  z-index: 1000;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-container {
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  gap: 10px;
  transition: 0.3s ease;
}

.logo-icon {
  height: 30px;
}

.logo {
  font-size: x-large;
  color: var(--accent1);
}

.search-container {
  position: relative;
}

#searchInput {
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  background-color: rgb(71, 71, 71);
  color: var(--accent1);
}

#searchInput::placeholder {
  color: #a8a7a7;
}

.suggestion {
  background-color: var(--primary);
  width: 100%;
  max-height: 40vh;
  overflow: auto;
  border-radius: 5px;
  padding: 10px 0;
  position: absolute;
  top: 50px; 
  transition: 0.3s ease;
}

.suggestion::-webkit-scrollbar {
  width: 8px
}

.suggestion::-webkit-scrollbar-track {
  background-color: #919090;
  border-radius: 5px;
}

.suggestion::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

.suggestion li {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  gap: 20px;
  cursor: pointer;
  margin: auto;
}

.suggestion li:hover {
  background-color: #5e5c5c;
}

.suggestion li img {
  height: 60px;
  border-radius: 3px;
}

.watchlist {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

#theme {
  border: none;
  background-color: inherit;
  color: white;
  outline: none;
}

#theme option {
  color: black;
}

.side-bar {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  bottom: 0;
  padding: 50px 0;
  border-right: 1px solid gray;
}

.side-bar button {
  background-color: inherit;
  border: none;
  color: var(--accent1);
  font-size: small;
  height: 70px;
  width: inherit;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.side-bar button:hover {
  background-color: gray;
}

.side-bar button span {
  font-size: smaller;
}

main {
  margin-left: 70px;
  margin-top: 60px;
}

.hero {
  height: 60vh;
  background-color: tomato;
}

.hero img {
  width: 100%;
  height: inherit;
}

.movie-container {
  padding: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  margin-top: 20px;
}

figure {
  color: var(--accent1);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

figure:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0.8;
  }
  
  to {
    opacity: 1
  }
}

figure img {
  width: 100%;
  border-radius: 10px;
}

figure figcaption {
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

footer {
  background-color: rgb(32, 32, 32);
  padding: 50px;
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}

footer h1 {
  font-size: smaller;
}

footer ul {
  margin-top: 20px;
}

li {
  margin-top: 10px;
  font-size: 12px;
  list-style: none;
}

@media (max-width: 800px) {
  .watchlist {
    display: none
  }
}