:root {
  --primary: #2c2c2c;
  --secondary: #ffa500;
  --accent1: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--accent1);
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  gap: 100px;
  align-items: center;
  background-color: var(--primary);
  padding: 0 10px;
  z-index: 1000;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-icon {
  height: 30px;
}

.logo {
  font-size: x-large;
  color: var(--accent1);
}

#searchInput {
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  background-color: rgb(71, 71, 71);
  color: var(--accent1);
}

#searchInput::placeholder {
  color: #a8a7a7;
}

.watchlist {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

#theme {
  border: none;
  background-color: inherit;
  color: white;
  outline: none;
}

#theme option {
  color: black;
}

.side-bar {
  background-color: var(--primary);
  color: var(--accent1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 70px;
  position: fixed;
  top: 60px;
  bottom: 0;
  padding: 50px 0;
  border-right: 1px solid gray;
}

main {
  margin-left: 70px;
  margin-top: 60px;
}

.feature-content {
  height: 50vh;
  background-color: tomato;
}

.movie-container {
  padding: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  margin-top: 20px;
}

figure {
  background-color: rgb(71, 71, 71);
  color: var(--accent1);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

figure img {
  width: 100%;
}

figure figcaption {
  margin: 5px 0;
  font-size: 12px;
  font-weight: bold;
}