.watchlist-container {
  padding: 20px;
}

.option-container {
  position: relative;
}

.option-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: gray;
  border-radius: 50%;
  padding: 5px 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.options {
  background-color: rgb(87, 86, 86);
  position: absolute;
  top: -10px;
  right: -120px;
  border-radius: 5px;
  overflow: hidden;
  height: 0;
  transition: 0.3s ease;
}

.options.show {
    height: 55px;
}

.options button {
  background-color: inherit;
  border: none;
  color: white;
  padding: 5px;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: 0.3s ease;
}

.options button:hover {
  background-color: gray;
}